@model MVCInternetShopEx2.RegistrUser

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registration</title>
    <link type="text/css" href="~/Content/AccountStyles/RegistrationStyle.css" rel="stylesheet" />
</head>
<body>
    @using (Html.BeginForm())
    {
        <div class="conteiner">
            <div class="topHeader">
                <div><img class="icon" src="~/Img/Icons/Phone_31105.png" width="15" height="15" />Phone: +(380)123-45-67-890</div>
                <div><img class="icon" src="~/Img/Icons/E-mail_37290.png" width="15" height="15" />Email: email@@mail.com</div>
                <div><img class="icon" src="~/Img/Icons/-location_86865.png" width="15" height="15" />Addres: 12345.addres</div>
                @Html.ActionLink("Authorization", "Authorization", "Account" , null, new { @class = "myAccount" })
                <div class="userShow">

                </div>         
            </div>
            <div class="middleHeader">
                <div class="logo">
                    <img src="~/Img/Logo/logo.png" />
                </div>
            </div>
            <div class="content">
                <div class="leftSide">
                    <p class="titleText">Please enter your login:</p>
                    <div class="textBoxConteiner"><img class="icon" src="~/Img/Icons/Login_37128.png" width="30" height="30" />@Html.TextBoxFor(u => u.Login, new { @class = "textBox" })</div>
                    <p class="titleText">Please enter your password: </p>
                    <div class="textBoxConteiner"><img class="icon" src="~/Img/Icons/passwordlock_contraseñ_9979.png" width="30" height="30" />@Html.PasswordFor(u => u.Password, new { @class = "textBox" })</div>
                    <p class="titleText">Please enter your password confirmation:</p>
                    <div class="textBoxConteiner"><img class="icon" src="~/Img/Icons/passwordlock_contraseñ_9979.png" width="30" height="30" />@Html.PasswordFor(u => u.PasswordConfirm, new { @class = "textBox" })</div>
                    <p class="titleText">Please enter your email:</p>
                    <div class="textBoxConteiner"><img class="icon" src="~/Img/Icons/Email_30017.png" width="30" height="30" />@Html.TextBoxFor(u => u.Email, new { @class = "textBox" })</div>
                    <p class="titleText">Please enter your gender:</p>
                    <div class="textBoxConteiner"><img class="icon" src="~/Img/Icons/Gender_Neutral_User-80_icon-icons.com_57321.png" width="30" height="30" />@Html.TextBoxFor(u => u.Gender, new { @class = "textBox" })</div>
                    <p class="titleText">Please enter your year of birth:</p>
                    <div class="textBoxConteiner"><img class="icon" src="~/Img/Icons/calendarday_January_month_calendari_1584.png" width="30" height="30" />@Html.TextBoxFor(u => u.Year, new { @class = "textBox" })</div>
                    <p class="titleText">Please enter your month of birth:</p>
                    <div class="textBoxConteiner"><img class="icon" src="~/Img/Icons/calendarday_January_month_calendari_1584.png" width="30" height="30" />@Html.TextBoxFor(u => u.Months, new { @class = "textBox" })</div>
                    <p class="titleText">Please enter your day of birth:</p>
                    <div class="textBoxConteiner"><img class="icon" src="~/Img/Icons/calendarday_January_month_calendari_1584.png" width="30" height="30" />@Html.TextBoxFor(u => u.Day, new { @class = "textBox" })</div>
                    <p class="titleText">Please enter your name:</p>
                    <div class="textBoxConteiner"><img class="icon" src="~/Img/Icons/About_Us-80_icon-icons.com_57384.png" width="30" height="30" />@Html.TextBoxFor(u => u.Name, new { @class = "textBox" })</div>
                    <p class="titleText">Please enter your surename</p>
                    <div class="textBoxConteiner"><img class="icon" src="~/Img/Icons/About_Us-80_icon-icons.com_57384.png" width="30" height="30" />@Html.TextBoxFor(u => u.Surename, new { @class = "textBox" })</div>
                    <input class="btn" type="submit" value="Registration" />
                </div>
                <div class="rightSide @ViewBag.validation">
                    @Html.ValidationSummary(false, "", new { @class = "validationSummary" })                     
                </div>               
                <div class="rightSide @ViewBag.validationLogin">
                    <div class="validationSummary">
                        <p class="loginError">@ViewBag.ErrorMassage</p>
                    </div>
                </div>
            </div>
            <div class="footer">
            </div>
        </div>
    }
</body>
</html>
