@model MVCInternetShopEx2.GoodsList

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Desktops</title>
    <link type="text/css" href="~/Content/HomeStyles/ProductPageStyles.css" rel="stylesheet" />
</head>
<body>
    @using (Html.BeginForm("Desktops", "Home", FormMethod.Post))
    {
        <div class="conteiner">
            <div class="topHeader">
                <div><img class="icon" src="~/Img/Icons/Phone_31105.png" width="15" height="15" />Phone: +(380)123-45-67-890</div>
                <div><img class="icon" src="~/Img/Icons/E-mail_37290.png" width="15" height="15" />Email: email@@mail.com</div>
                <div><img class="icon" src="~/Img/Icons/-location_86865.png" width="15" height="15" />Addres: 12345.addres</div>
                @Html.ActionLink("Sign in", "Authorization", "Account", null, new { @class = ViewBag.showHideSignInLink })
                <input type="submit" name="Action" value="Sign out" class="@ViewBag.showHideSignOutLink" />
                <input type="submit" name="Action" value="Cart" class="linkToCart" />          @*Корзина*@
            </div>
            <div class="middleHeader">
                <div class="cart">
                    <img src="~/Img/Icons/shoppingcart_87696.png" width="50" height="40" />
                    <div class="@ViewBag.cartBlockUnblock"><p>@Session["select"]</p></div>
                </div>
                <div class="logo">
                    <img src="~/Img/Logo/logo.png" />
                </div>
            </div>
            <div class="content">         
                    @for (int i = 0; i < Model.AllGoods.Count; i++)
                    {
                        
                        if (Model.AllGoods[i].GroupGoods.Equals("Desktop"))
                        {
                            string name = Model.Buttons[i].Name;
                            string value = "";
                            if (Model.Buttons[i].PressBtn) { value = "Selected"; }
                            else { value = "Buy"; }
                    <div class="goods">
                        <div class="conteinerImgLeft"><img class="img" src="@Model.AllGoods[i].Img1" width="230" height="230" /></div>
                        <a class="goodsLink" href="#">@Model.AllGoods[i].Name</a> <br />
                        <p class="price">@Model.AllGoods[i].Price $</p>
                        <p class="items">Goods left:</p>
                        <p class="count">@Model.AllGoods[i].Count</p>
                        <input class="btn" type="submit" name=@name value=@value />
                        <div class="@ViewBag.blockUnBlockBuy">
                            <div class="blockBuy">
                                <div class="regLink">
                                    <p>To buy first, @Html.ActionLink("Register", "Registration", "Account", null, new { @class = "link" })</p>
                                </div>
                            </div>
                        </div>
                    </div>    
                        }
                        @Html.HiddenFor(x => Model.AllGoods[i].Id)
                        @Html.HiddenFor(x => Model.AllGoods[i].Name)
                        @Html.HiddenFor(x => Model.AllGoods[i].Price)
                        @Html.HiddenFor(x => Model.AllGoods[i].Count)
                        @Html.HiddenFor(x => Model.AllGoods[i].Img1)
                        @Html.HiddenFor(x => Model.AllGoods[i].GroupGoods)
                        @Html.HiddenFor(x => x.Buttons[i].PressBtn, new { Value = Model.Buttons[i].PressBtn })
                        @Html.HiddenFor(x => x.Buttons[i].Name)
                    }                
            </div>
            <div class="footer">              
                
            </div>
        </div>   
    }
</body>
</html>
