@model MVCInternetShopEx2.GoodsList
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link type="text/css" href="~/Content/HomeStyles/StyleForIndexPage.css" rel="stylesheet" />
</head>
<body>
@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <div class="conteiner">
        <div class="topHeader">
            <div><img class="icon" src="~/Img/Icons/Phone_31105.png" width="15" height="15" />Phone: +(380)123-45-67-890</div>
            <div><img class="icon" src="~/Img/Icons/E-mail_37290.png" width="15" height="15" />Email: email@@mail.com</div>
            <div><img class="icon" src="~/Img/Icons/-location_86865.png" width="15" height="15" />Addres: 12345.addres</div>
            @Html.ActionLink("Sign in", "Authorization", "Account", null, new { @class = ViewBag.showHideSignInLink })
            <input type="submit" name="Action" value="Sign out" class="@ViewBag.showHideSignOutLink" />
            <div class="@ViewBag.userShowHide">@ViewBag.user</div>
        </div>
        <div class="middleHeader">
            <div class="cart">
                <img src="~/Img/Icons/shoppingcart_87696.png" width="50" height="40" />
                <div class="@ViewBag.cartBlockUnblock"><p>@Session["select"]</p></div>
            </div> 
            <div class="logo">
                <img src="~/Img/Logo/logo.png" />
            </div>   
        </div>
        <div class="header"></div>
        <div class="hotDeal">
        <div class="daysLeft"><p class="digits">00</p><p class="letters">Days</p></div>
        <div class="hoursLeft"><p class="digits">00</p><p class="letters">Hours</p></div>
        <div class="minsLeft"><p class="digits">00</p><p class="letters">Minutes</p></div>
        <div class="secsLeft"><p class="digits">00</p><p class="letters">Seconds</p></div>
        <div class="hotDealTextUppercase"><h2>Hot deal this week</h2><p>new collection up to 50% off</p></div>
        <div class="hotDealBtn">Learn more</div>
        <img src="~/Img/hotdeal.png" width="1300"/></div>
        <div class="content">
                <div class="titleimg">
                    <div><img src="~/Img/LinkImages/GamingPC_Ctile_Desktops.jpg" width="305" height="250" /></div>
                    <input type="submit" name="Action" value="Desktop" class="titleLink" />                 @*Desktop*@
                </div>
                <div class="titleimg">
                    <div><img src="~/Img/LinkImages/GamingPC_Ctile_GraphicsCards.jpg" width="305" height="250" /></div>                    
                    <input type="submit" name="Action" value="GraphicsCards" class="titleLink" />           @*GraphicsCards*@
                </div>
                <div class="titleimg">                 
                    <div> <img src="~/Img/LinkImages/GamingPC_Ctile_Laptops.jpg" width="305" height="250" /></div>
                    <input type="submit" name="Action" value="Laptops" class="titleLink" />           @*GraphicsCards*@
                </div>
                <div class="titleimg">
                    <div><img src="~/Img/LinkImages/GamingPC_Ctile_Monitors.jpg" width="305" height="250" /></div>
                    <input type="submit" name="Action" value="Monitors" class="titleLink" />           @*GraphicsCards*@
                </div>
                <div class="titleimg">
                    <div><img src="~/Img/LinkImages/GamingPC_Ctile_Networking.jpg" width="305" height="250" /></div>
                    <input type="submit" name="Action" value="Networking" class="titleLink" />           @*GraphicsCards*@
                </div>
                <div class="titleimg">
                    <div><img src="~/Img/LinkImages/GamingPC_Ctile_VirtualReality.jpg" width="305" height="250" /></div>
                    <input type="submit" name="Action" value="Virtual Reality" class="titleLink" />           @*GraphicsCards*@
                </div>
                <div class="titleimg">
                    <div><img src="~/Img/LinkImages/1064810_us_pchardware_tile_500x500.jpg" width="305" height="250" /></div>
                    <input type="submit" name="Action" value="Accessories" class="titleLink" />           @*GraphicsCards*@
                </div>
                <div class="titleimg">
                    <div><img src="~/Img/LinkImages/1058710_us_222_intel_c-tile.jpg" width="305" height="250" /></div>
                    <input type="submit" name="Action" value="Components" class="titleLink" />           @*GraphicsCards*@
                </div>
                <p><img src="~/Img/LinkImages/GamingPC_Title_ShopByBrands_desktop.png" width="1277" /></p>
                <div class="brand">
                    <img class="brandImg" src="~/Img/LinkImages/Brand/GamingPC_BrandFirm_Corsair.png" width="140" height="70" />
                    <img class="brandImg" src="~/Img/LinkImages/Brand/GamingPC_BrandFirm_HyperX.png" width="140" height="70" />
                    <img class="brandImg" src="~/Img/LinkImages/Brand/GamingPC_BrandFirm_msi.png" width="140" height="70" />
                    <img class="brandImg" src="~/Img/LinkImages/Brand/GamingPC_BrandFirm_Predator.png" width="140" height="70" />
                    <img class="brandImg" src="~/Img/LinkImages/Brand/GamingPC_BrandFirm_Razer.png" width="140" height="70" />
                    <img class="brandImg" src="~/Img/LinkImages/Brand/GamingPC_BrandFirm_RepublicOfGamers.png" width="140" height="70" />                             
                    @for (int i = 0; i < Model.AllGoods.Count; i++)
                    {
                       @Html.HiddenFor(x => Model.AllGoods[i].Id)
                       @Html.HiddenFor(x => Model.AllGoods[i].Name)
                       @Html.HiddenFor(x => Model.AllGoods[i].Price)
                       @Html.HiddenFor(x => Model.AllGoods[i].Count)
                       @Html.HiddenFor(x => Model.AllGoods[i].Img1)
                       @Html.HiddenFor(x => Model.AllGoods[i].GroupGoods)
                       @Html.HiddenFor(x => x.Buttons[i].PressBtn, new { Value = Model.Buttons[i].PressBtn })
                       @Html.HiddenFor(x => x.Buttons[i].Name)
                    }
                </div>
            </div>        
        <div class="footer"></div>       
    </div>
}
</body>
</html>
